<h2>List of Products:</h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Product Name</th>
      <th>Unit (kg)</th>
      <th>Price (per kg in AED)</th>
      <th>Buy</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of allProducts">
      <td>{{ product.name }}</td>
      <td>
        {{ product.unit }}
      </td>
      <td>{{ product.price }}</td>
      <td><button class="button" (click)="addToCart(product)">Add to Cart</button> </td>
    </tr>
  </tbody>
</table>

<button routerLink="/cart">Checkout</button>
