<h2>List of Products:</h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Product Name</th>
      <th>Unit (kg)</th>
      <th>Price (per kg in AED)</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.name }}</td>
      <td>
        {{ product.unit }}
        <button class="button" (click)="incrementUnit(product)">+</button>
        <button class="button" (click)="decrementUnit(product)" [disabled]="product.unit==1">-</button>
        <button class="button" (click)="addToCart(product)">Add to Cart</button>
      </td>
      <td>{{ product.price }}</td>
    </tr>
  </tbody>
</table>

<button class="button">Checkout</button>
