.table {
  width: 80%;
  margin-bottom: 1.529411765em;
  border-spacing: 0;
  border: 1px solid black;
}

.table th,
.table td {
    padding: .6em;
    text-align: left;
    border: 1px solid black;
    border-collapse: collapse;
}

.table th {
    font-weight: bold;
}

.button {
  margin: 1%;
}
